@charset "UTF-8";

.create-date {
    font-size : 18px;
    font-weight : 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

#blog-title {
	padding: 70px 0;
}

.unit {
	margin-bottom: 30px;
}

footer {
	margin-top: 20px;
}

.pagination { 
	justify-content: center; 
}

.navbar {
	color: white;
}