<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragment/head">
  </th:block>
  <link rel="stylesheet" th:href="@{/css/articles.css}">
  <link rel="stylesheet" th:href="@{/css/articles-form.css}">
</head>
<body>

  <th:block th:include="fragment/navbar">
  </th:block>
  
  <div class="container">
  
    <form th:action="${isEdit} ? @{/articles/update} : @{/articles/create}" th:object="${articleForm}" method="post">
      <div>Edit</div><div>Preview</div>
      <div class="form-group">
        <input th:field="*{title}" type="text" class="form-control" id="article-title" placeholder="Title">
      </div>
      <input th:field="*{id}" type="hidden" />
      <div class="form-group">
        <textarea  th:field="*{body}" class="form-control" id="article-body" placeholder="Body" rows="30" cols="100"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>