<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragment/head">
  </th:block>
  <link rel="stylesheet" th:href="@{/css/articles.css}">
</head>
<body>

  <th:block th:include="fragment/navbar">
  </th:block>

  <div class="list container"> 
    <header id="blog-title" data-brand="hatenablog">
      <h1 id="title">
        MRO Company Developers Blog
      </h1>
    </header>
    
    <div th:if="${articles.size() == 0}">
      Articles not found ...
    </div>
    
    <th:block th:unless="${articles.size() == 0}">
      <article class="unit row" th:each="article : ${articles}">
        <header class="col-md-12">
          <div class="create-date row">
            <div class="col-md-6" th:text="${article.createdAtFormatted}">2019-07-13 23:57</div>
            <div class="col-md-6" align="right">
              <a th:if="${loginUser != null}" th:href="@{/articles/edit?id=__${article.id}__}">Edit</a>
            </div>
          </div>
          
          <h2 class="title" th:text="${article.title}"></h2>
        </header>
        <div class="body col-md-12" th:text="${article.body}"></div>
        <a class="col-md-12" th:href="@{/articles/detail?id=__${article.id}__}">more</a>
        <footer class="col-md-12">
          <div class="author-info">
            <span th:text="${article.authorName}"></span>
            <span>(id:</span>
            <span th:text="${article.authorId}"></span>
            <span>)</span>
          </div>
        </footer>
      </article>
    
      <nav th:if="${articles.size() != 0}">
        <ul class="pagination">
          <li class="page-item previous" th:classappend="${currentPage == 1} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/articles/list?page=__${currentPage - 1}__}">prev</a>
          </li>
          <li th:each="i : ${#numbers.sequence(1, pagerCount)}" class="page-item" th:classappend="${currentPage == i} ? 'active' : '' ">
            <a class="page-link" th:href="@{/articles/list?page=__${i}__}" th:text="${i}"></a>
          </li>
          <li class="page-item next" th:classappend="${currentPage == pagerCount} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/articles/list?page=__${currentPage + 1}__}">next</a>
          </li>
        </ul>
      </nav>
    </th:block>
  </div>
  
  <footer class="footer">
    <div class="container">
      <p class="text-muted">MRO Company Developers Blog</p>
    </div>
  </footer>
</body>
</html>